/*seletor universal, pra tudo que ele encontrar na página será aplicado o comandos abaixo*/
* {
  margin: 0;
}

/*Cascating Stylesheet */

html,
body {
  /*cria uma variavel pra usar futuramente em outros lugares*/
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/images-mobile/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

/*box model para lidar com as margens/posicionar*/

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem; /*1rem = 16px da pagina então: px/16 = rem */
  margin: 11.5rem auto 0;

  position: relative; /*determina o limite dentro dele*/
}

.avatar span {
  position: absolute; /*permite sobrepor imagens */
  top: -15px;
  z-index: 1;
}
/*sinal de > indica que pega a img de primeiro nivel, ou seja, nao esta dentro de nenhuma outra tag*/
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover; /*preenche todo o espaço definido*/

  /*acessar clippy css bennett feely para pegar as propriedades*/
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none; /*Elimina os topicos*/
  padding: 0;

  display: flex; /*coloca um elemento ao lado do outro na horizontal*/
  gap: 0.5rem;

  justify-content: center; /* alinha os elementos no centro*/
  /*só foi possivel usar gap e justify pois há o display flex */
}


@media only screen and (min-width: 780px) {
  main {
    background: url(images/images-desktop/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }

}